.boxes {
    border: 1px solid gainsboro;
    width: 19%;
    padding: 1rem;
    padding-top: 0;
    background-color: #fff;
    margin: 1rem;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 8px;
    border-bottom: 1px hidden #fff;
    max-height: 350px;
}