@import "../../../styles/main";

.container-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
    p {
        margin-left: 10px;
    }
}

.container-icon-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}