<form class="form-container" [formGroup]="addTaskForm">
    <h3 *ngIf="!title">Add task</h3>
    <h3 *ngIf="title">{{title}}</h3>
    <div class="container-scroll">
        <div *ngFor="let description of descriptions" class="container-ps">
            <mat-checkbox ></mat-checkbox><p>{{description}}</p>
        </div>
    </div>
    <div *ngIf="!title" class="small-container">
        <label for="title">Add title for the task:</label>
        <input formControlName="title" name="title" placeholder="descripción" type="text">   
    </div>
    <div *ngIf="!title" class="button-container">
        <button (click)="addTask()" type="button">Add title</button>
    </div>    
    <div class="small-container">
        <label for="descr">Add description for the task:</label>
        <input formControlName="descr" name="descr" placeholder="descripción" type="text">        
    </div>
    <div class="button-container">
        <button (click)="addTask()" type="button">Add task</button>
        <button [class.inactive]="!title" [attr.disable]="!title" (click)="submitFullTask()" type="button">I'm done!</button>
    </div>
</form>
